# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Migrations cache
*/migrations/__pycache__/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
